<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pocketx.knell">

    <application
        android:name=".KnellDebugApp"
        tools:replace="android:name"
        tools:ignore="GoogleAppIndexingWarning" />

</manifest>